
#inspire #spanText{
    display: flex;
    text-transform: capitalize;
}

#inspire .whitespace {
    margin-right: 4px;
}

#inspire .s-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#inspire .s-column{
    display: flex;
    flex-direction: column;
}

#inspire .mouse-pointer{
    cursor: pointer;
}  