
#inspire #spanText{
    display: flex;
    text-transform: capitalize;
}

#inspire .whitespace {
    margin-right: 4px;
}

#inspire .s-row{
    display: flex;
    flex-direction: row;
}

#inspire .s-column{
    display: flex;
    flex-direction: column;
}

#inspire .mouse-pointer{
    cursor: pointer;
}

#inspire .v-slide-group__prev{
    display: unset;
    visibility: unset;
    flex: 0 0 auto !important;
    min-width: 0;
}
